<div class="wrapper row0">
    <div id="topbar" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="fl_left">
            <ul class="nospace">
                <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="#">Advertise</a></li>
                <li><a href="#!/register">Register</a></li>
            </ul>
        </div>
        <div class="fl_right">
            <ul class="nospace">
                <li><i class="fa fa-phone"></i> +1 (410) 456 7890</li>
                <li><i class="fa fa-envelope-o"></i> info@umbc.edu</li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </div>
</div>
<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <!-- ################################################################################################ -->
        <div id="logo" class="fl_left">
            <h1><a href="index.html">UMBC</a></h1>
            <p>Rental solutions</p>
        </div>
        <!-- ################################################################################################ -->
        <nav id="mainav" class="fl_right">
            <ul class="clear">
                <li class="active"><a href="index.html">Home</a></li>
                <!--      <li><a class="drop" href="#">Pages</a>
                          <ul>
                              <li><a href="pages/gallery.html">Gallery</a></li>
                              <li><a href="pages/full-width.html">Full Width</a></li>
                              <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
                              <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
                              <li><a href="pages/basic-grid.html">Basic Grid</a></li>
                          </ul>
                      </li>
                      <li><a class="drop" href="#">Dropdown</a>
                          <ul>
                              <li><a href="#">Level 2</a></li>
                              <li><a class="drop" href="#">Level 2 + Drop</a>
                                  <ul>
                                      <li><a href="#">Level 3</a></li>
                                      <li><a href="#">Level 3</a></li>
                                      <li><a href="#">Level 3</a></li>
                                  </ul>
                              </li>
                              <li><a href="#">Level 2</a></li>
                          </ul>
                      </li>-->
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>

            </ul>
        </nav>
        <!-- ################################################################################################ -->
    </header>
</div>

<div class="wrapper bgded overlay" style="background-image:url('ss.jpg');">
    <div id="pageintro" class="hoc clear">
<p>Do you want to keep this open for search?</p>
<p style="display:inline-block">
<input type="submit" data="{{IDtoBook}}" value="yes" name="yes" style=" float:left; background-color: #0b1827" class="submit_btn_02"  ng-click="yes($event)" />
<input type="submit" data="{{IDtoBook}}" value="no" name="no" style="float:right; background-color: #0b1827" class="submit_btn_02"  ng-click="no($event)" />
</p><br>
        <p> Nearby Facilities</p>

<br>
<p>
<input type="submit" data="{{IDtoBook}}" value="book" name="confirm" class="submit_btn_02" style="background-color: #0b1827" ng-click="bookingconfirm($event)" />
</p><br>
<p><a href="#!/" class="btn btn-primary">Back</a>
<a href="#!/login" class="btn btn-primary">Logout</a></p>

    </div>
</div>

<div class="wrapper row5">
    <div id="copyright" class="hoc clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">UMBC rental solutions</a></p>
        <!-- <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
         --><!-- ################################################################################################ -->
    </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
    <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_third first">
            <h6 class="title">What we do?</h6>
            <p>Connecting student renters with great rental opportunities in and around UMBC campus.</p>
            <p class="btmspace-15">New rental listings are posted daily so check back often for new rental ads. You won't want to miss out on a new place near campus for next semester. Connect with us.</p>
            <ul class="faico clear">
                <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
                <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
            </ul>
        </div>
        <div class="one_third">
            <h6 class="title">Where we are?</h6>
            <ul class="nospace linklist contact">
                <li><i class="fa fa-map-marker"></i>
                    <address>
                        Carmella Drive &amp; 4837, Arbutus, 21227
                    </address>
                </li>
                <li><i class="fa fa-phone"></i> +1 (423) 446 7790</li>
                <li><i class="fa fa-fax"></i> +1 (125) 156 4567</li>
                <li><i class="fa fa-envelope-o"></i> info@umbc.edu</li>
            </ul>
        </div>
        <div class="one_third">
            <h6 class="title">How are we doing?</h6>
            <ul class="nospace linklist">
                <li>
                    <article>
                        <h2 class="nospace font-x1"><a href="#">Jinal gala</a></h2>
                        <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> December 2017</time>
                        <p class="nospace">Great website. Made my life easier.</p>
                    </article>
                </li>
                <li>
                    <article>
                        <h2 class="nospace font-x1"><a href="#">Sweta Basundhara</a></h2>
                        <time class="font-xs block btmspace-10" datetime="2045-04-05">Thursday, 5<sup>th</sup> December 2017</time>
                        <p class="nospace">Grateful for this site. Found a beautiful place with amazing roommates.</p>
                    </article>
                </li>
            </ul>
        </div>
        <!-- ################################################################################################ -->
    </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="scripts/jquery.min.js"></script>
<script src="scripts/jquery.backtotop.js"></script>
<script src="scripts/jquery.mobilemenu.js"></script>


